@import './vendor/normalize.css';
@import './styles/global.css';
@import './vendor/fonts/fonts.css';

@import './styles/animation/animation.css';
@import './blocks/header/header.css';

body {
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wght' 400;
    /* Установка веса шрифта по умолчанию */
}


.top-left {
    block-size: 22.161vw;
    inline-size: 22.552vw;
    transform: translateX(-0.1vw);
    padding: 1.5vw 0.8vw;
}

.grid-container {
    background-image: url('./img/background-grid.png');
    block-size: 94%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 0.5vw;
    padding-inline: 0.4vw 0;
    gap: 0.8vw;
    margin-block-end: 0.625vw;
}

.left-aside-container-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-aside-container {
    padding-inline-start: 0.2vw;
}

.left-aside-flex {
    border: .156vw hsla(216, 86%, 53%, 1) solid;
    inline-size: 9.727vw;
    padding-block: 0.2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}


.bottom-left {
    block-size: 19.542vw;
    inline-size: 21.719vw;
    transform: translateX(1.14vw);
    padding-block: 2.5vw;
    padding-inline: 1.3vw .6vw;

    .left-aside-container {
        padding: 0;
    }

    .grid-container {
        padding: 0;
        background-image: none;
        block-size: fit-content;
        margin-block-end: 1.625vw;
        gap: .4vw;
    }
    .grid-container_margin{
        margin-block-end: 2.95vw;
    }

    .chart-line-container:nth-child(2) {
        padding-inline-start: 0;
    }
}


.circle-text{
        max-inline-size: 4.792vw;
    text-align: center;
    font-size: 0.741vw;
    color: #E0D8C1;
    text-transform: uppercase;
    transform: translate(-1.6vw, -1vw);
    letter-spacing: 0.074vw;
    line-height: 142.857%;
}

.circle-number{
        font-size: 2.118vw;
        color: #FFF;
    font-style: normal;
    font-variation-settings:'wght' 500;
    line-height: 122.973%; /* 122.973% */
}


.top-right {
    block-size: 15.51vw;
    inline-size: 21.652vw;
    transform: translate(-4vw, 2.6vw);
        padding-inline: 1.4vw .5vw;
    padding-block-start: 2vw;
}

.bottom-right {
    block-size: 15.142vw;
    inline-size: 21.719vw;
    transform: translate(-1.86vw, 8.3vw);
    padding-block-start: 1.8vw;
    padding-inline:1.3vw 0.6vw;
}
.bottom-right .block-title{
    margin-block-end: .25vw;
}
.bottom-right .block-title:nth-of-type(2){
    margin-block-end: 1.2vw;
}

.left-aside {
    display: flex;
    flex-direction: column;
    gap: 2vw;

}


.circle-t {
    inline-size: 11.772vw;
    transform: translateX(-1.8vw);
    block-size: 7.372vw;
}

.circle-rt {
    block-size: 17.882vw;
    inline-size: 15.522vw;
    transform: translate(-3.7vw, 1.1vw);

}

.circle-rb {
    block-size: 17.915vw;
    inline-size: 18.215vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-3.9vw, 1.1vw);
        .circle-text{
        transform: none;
        font-size: 0.573vw;
        max-inline-size: 5vw;
        line-height:  127.273%;
        letter-spacing: 0.057vw;
    }
    
}
.circle-container-rb{
        display: flex;
        flex-direction: column;
        align-items: center;
        inline-size: fit-content;
        transform: translate(1.7vw, 1.6vw);
        gap: .25vw;
}
.circle-container-rb:nth-child(2){
    transform: translate(-2.6vw, 2.7vw);
    .circle-text{
        max-inline-size: 9vw;
    }
}
.circle-b {
    block-size: 7.72vw;
    inline-size: 11.492vw;
    transform: translate(-1.9vw, -3.6vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3vw;
    .circle-text{
        transform: none;
    }
}


.circle-lb {
    inline-size: 14.422vw;
    block-size: 17.322vw;
    transform: translate(1.3vw, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.circle-lt {
    inline-size: 15.713vw;
    block-size: 18.513vw;
    display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
        z-index: -1;
}



.flex-group {
    display: flex;
    gap: 4.9vw;
}



.root {
    background-color: hsla(227, 66%, 20%, 1);
    padding: 1.5vw 2.9vw;
    padding-block-start: 0;
    block-size: 100dvh;
}

.circle-container {
    display: flex;
    padding-block-start: 0.6vw;
    inline-size: 40.8vw;
}
.circle-c{
    transform: translate(-5.4vw, 9vw);
    position: absolute;
}
.circle-left {
    display: flex;
    flex-direction: column;
    gap: .35vw;
}

.circle-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-block-size: 40.969vw;
}

.bottom-center {
    block-size: 8.898vw;
    inline-size: 38.04vw;
    transform: translate(28.2vw, -5.05vw);
        padding-block: 1.55vw;
    padding-inline: 1.2vw;
    .legend-name{
        font-size: 0.521vw;
        line-height: 140%; /* 140% */
        letter-spacing: 0.052vw;
    }
    .legend-name:first-child{
        font-size: 0.521vw;
        line-height: 140%; /* 140% */
        letter-spacing: 0.052vw;
        /* padding-inline-start: 1vw; */
    }
    .grid-container{
  padding-inline-start: 1.4vw;
    gap: 0.6vw;
        grid-template-columns: .88fr 1fr;
        background-image: none;
    }
}


.svg-container {
    transition: opacity .1s linear;
}

/* .svg-container:hover{
    opacity: .5;
    cursor: pointer;
    transition: opacity .1s linear;
} */

.chart-heading {
    font-size: 0.677vw;
    color: #FFF;
    font-style: normal;
    font-variation-settings: 'wght' 400;
    line-height: 130.769%;
    letter-spacing: 0.65px;
    margin-block-end: 0.65vw;
}

.chart-container {
    block-size: 6.458vw;
    inline-size: 6.458vw;
    margin-block-end: 0.7vw;

}

.legends-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;
    justify-content: center;
    padding-inline: 0.6vw 0;
    row-gap: .4vw;

}

.legend-name {
    color: hsla(45, 33%, 82%, 1);
    font-size: 0.349vw;
    letter-spacing: 0.035vw;
    line-height: 89.431%;
}

.legend-number {
    font-size: 0.625vw;
    color: #FFF;
}

.chart-line-container {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding-inline-start: .1vw;
    margin-block-end: 0.15vw;

}

.chart-line-container:nth-child(2) {
    padding-inline-start: .45vw;

}

.legends-academic {
    padding-inline: 0;
}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.156vw;
}

.date-number {
    color: hsla(32, 98%, 45%, 1);
    font-size: 0.729vw;
    line-height: 110.714%;
}

.calendar__year-progress-bar__dpo {
    inline-size: 5vw;
}

.block-title {
    font-size: 0.938vw;
    color: #FFF;
    line-height: 111.111%;
    letter-spacing: 0.047vw;
    text-transform: uppercase;
    margin-block-end: 0.881vw;
}
.block-title_students{
    font-size: 0.833vw;
    line-height: 68.75%; /* 68.75% */
    letter-spacing: 0.083vw;
    margin-block-end: 0.751vw;
}

.chart-line-container-enrolled{
    padding-inline-start: 4.1vw;
}

.chart-line-container-firstSemester{
    padding-inline-start: 3.8vw;
}
.chart-line-container-secondSemester{
    padding-inline-start: 2.3vw;
}
.chart-line-container-masters{
    padding-inline-start: .4vw;
}
.chart-line-container-masters-programm .legend-name{
    font-size: 0.521vw;
        letter-spacing: 0.052vw;
}
.chart-line-container-bachelors-programm .legend-name{
    font-size: 0.521vw;
        letter-spacing: 0.052vw;
}

.performance-diagram-container::before{
    content: '';
    display: block;
    position: absolute;
    height: 12.5vw;
    width: 12.5vw;
    left: 3.3vw;
    top: 3.2vw;
    border: 0.053vw solid hsla(216, 100%, 56%, 0.2);
    border-radius: 50%;
}

.performance-diagram-container::after{
    content: '';
    display: block;
    position: absolute;
    border: 0.053vw solid hsla(216, 100%, 56%, 0.2);
    height: 21.6vw;
    left: -1.3vw;
    top: -1.3vw;;
    width: 21.6vw;
    border-radius: 50%;
}

.small-frame{
    inline-size: 12.488vw;
    block-size: 6.038vw;
    padding-inline: 1.3vw;
    padding-block: 1.1vw;
}


.line-diamond{
    block-size: 0.521vw;
    inline-size: 0.521vw;
    border: 0.156vw solid hsla(201, 100%, 63%, 1);
    rotate: -135deg;
    background-color: #fff;
}
.chart-line{
    min-block-size: 0.208vw;
}
.line-main-wrapper .legend-number{
    font-size: 1.042vw;
    font-family: 'Montserrat';
    font-variation-settings: 'wght' 600;
    line-height: 75%;

}
.chart-line-container-masters-programm .line-diamond{
    border: 0.156vw solid hsla(163, 100%, 50%, 1);

}
.chart-line-container-masters-programm .chart-line-container{
    justify-content: center;
    
}
.line-wrapper{
    display: flex;
    align-items: center;
}

.line-main-wrapper{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    inline-size: fit-content;
    align-items: center;
    max-inline-size: 3vw;
}

.small-frame .chart-line-container{
    align-items: flex-end;
    margin-block-end: .4vw;
}

.grid-corner{
inline-size: 5.833vw;
    block-size: 4.683vw;
    display: flex;
    flex-direction: column;
        align-items: flex-end;
            padding-inline-end: 1.3vw;
    padding-block: 0.8vw;
    gap: .5vw;
}

.bottom-right-flex{
    display: flex;
    align-items: center;
    gap: .4vw;
    margin-block-end: 1.6vw;
}
.grid-corner-number{
    color: hsla(53, 82%, 61%, 1);
    font-size: 0.833vw;
    font-family: 'Montserrat';
    font-variation-settings: 'wght' 700;
    line-height: 75%;
}
.grid-corner-text{
    color: #FFF;
    line-height: 112.5%;
    font-size: 0.417vw;
        max-inline-size: 3.6vw;
        text-align: right;
        letter-spacing: 0.042vw;
}
.grid-corner-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#myearth {
  width: 10.188vw;
  height: 10.188vw;
  cursor: pointer;
  left: -1vw;
  top: -1vw;

}

#glow {
  position: absolute;
    pointer-events: none;
    background: radial-gradient(ellipse at center, rgba(0, 156, 255, 0.05) 25%, rgba(0, 156, 255, 0.15) 53%, rgba(0, 156, 255, 0.05) 56%, rgba(0, 156, 255, 0) 70%);
    transform: translate(-50%, -50%);
    height: 9.8vw;
    left: 5vw;
    top: 5vw;
    width: 100%;
    z-index: 200;
}

#myearth canvas {
    object-fit: contain;
}
.top-right-container{
    display: flex;
    gap: 0.6vw;
    block-size: 8vw;
}
.top-right-block{
    display: flex;
    align-items: center;
        gap: 0.4vw;
}
.top-right-flex{
    display: flex;
    flex-direction: column;
    padding-block-start: 1.1vw;
    gap: 0.2vw;


}
.top-right-number{
    font-size: 1.042vw;
    color: hsla(32, 98%, 45%, 1);
    line-height: 74.545%;
}
.top-right-text{
    color: hsla(45, 33%, 82%, 1);
    font-size: 0.369vw;
    line-height: 133.333%;
    letter-spacing: 0.047vw;
    text-transform: uppercase;
    max-inline-size: 6vw;
    
}

.grid-container .date-container{
        grid-column: span 2;
}

.circle-block {
    position: relative;
}

.circle-container-total{
    left: 5.7vw;
    position: absolute;
    top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7vw;
}

.circle-number-total{
    font-size: 3.706vw;
    color: #FFF;
    text-align: center;
    font-variation-settings:'wght' 500;
    line-height: 90%;
}

.circle-text-total{
    font-size: 0.953vw;
    color: #FFF;
    line-height: 131.171%; 
    letter-spacing: 0.095vw;
    text-transform: uppercase;
    text-align: center;
    max-inline-size: 8vw;
}

.circle-container-success{
    
position: absolute;
    top: 10.3vw;
    left: 0;
    display: flex
;
    flex-direction: column;
    align-items: center;
    gap: 0.2vw;

}

.circle-number-success{
    color: hsla(32, 98%, 45%, 1);
    font-family: 'Montserrat';
    font-size: 1.165vw;
    font-variation-settings: 'wght' 700;
    line-height: 90.909%; /* 90.909% */
}

.circle-text-success{
    color: #E27B02;
    text-align: center;
    font-size: 0.529vw;
    line-height: 155%; 
    letter-spacing: 0.053vw;
    text-transform: uppercase;
    max-inline-size: 3.6vw;
}

.progress-bar-segment {
    transition: fill-opacity 0.3s ease;
}

.circle-number-total,
.circle-number-success {
    transition: all 0.3s ease;
}
.navigation-line-container{
    position: absolute;
}
.bottom-left-line{
    inline-size: 9.4vw;
    left: 21.65vw;
    top: 5.45vw;
}

.bottom-left-line::before{
    content: "";
    display: block;
    inline-size: .442vw;
    block-size: .442vw;
    position: absolute;
    background: hsla(216, 86%, 53%, 1);
    rotate: 90deg;
    bottom: -.05vw;
    left: -0.26vw;
        opacity: 0;
    animation: fadeInBefore 0.5s ease-in-out 1.7s forwards;
}
.bottom-left-line::after{
    content: "";
    display: block;
    inline-size: .442vw;
    block-size: .442vw;
    position: absolute;
    background: hsla(216, 86%, 53%, 1);
     right: -0.2vw;
    rotate: 95deg;
    top: -0.15vw;
    opacity: 0;
    animation: fadeInAfter 0.5s ease-in-out 0.5s forwards;
}

.top-left-line{
        inline-size: 8vw;
    right: -8vw;
    top: 6.6vw;
}

.top-left-line::before{
    content: "";
    display: block;
    inline-size: .442vw;
    block-size: .442vw;
    position: absolute;
    background: hsla(216, 86%, 53%, 1);
    rotate: 90deg;
    top: -.15vw;
    left: -0.26vw;
        opacity: 0;
    animation: fadeInBefore 0.5s ease-in-out 2.8s forwards;
}
.top-left-line::after{
    content: "";
    display: block;
    inline-size: .442vw;
    block-size: .442vw;
    position: absolute;
    background: hsla(216, 86%, 53%, 1);
    bottom: 0vw;
    right: -0.15vw;
    rotate: 95deg;
    opacity: 0;
    animation: fadeInAfter 0.5s ease-in-out 0.5s forwards;
}

 

.bottom-left-line svg {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeInSvg 0.5s ease-in-out 0.8s forwards;
}
.bottom-left-line svg {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeInSvg 0.5s ease-in-out 0.8s forwards;
}

/* Анимация рисования линии */
.bottom-left-line path {
    stroke-dasharray: 550;
    stroke-dashoffset: 6000;
    animation: drawLine 1.5s linear 1s forwards;
}
.top-left-line svg {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeInSvg 0.5s ease-in-out 0.8s forwards;
}
.top-left-line svg {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeInSvg 0.5s ease-in-out 0.8s forwards;
}

/* Анимация рисования линии */
.top-left-line path {
    stroke-dasharray: 600;
    stroke-dashoffset: 1000;
    animation: drawLine 1.5s linear 1s forwards;
}





@keyframes fadeInAfter {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInSvg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drawLine {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 250;
    }
}

@keyframes fadeInBefore {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(45deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }
}

.circle-container-lt{
    display: flex;
    flex-direction: column;
            inline-size: fit-content;
    align-items: center;
    transform: translate(1.2vw, -0.7vw);
    gap: 0.3vw;

}
.circle-container-lt:nth-child(2){
    transform: translate(-3.35vw, 2.6vw);

}
.circle-container-lt .circle-text{
    transform: none;
    max-inline-size: 7vw;
    font-size: 0.573vw;

}

.svg-container{
    cursor: pointer;
}